@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider{
  margin-bottom: 100px;
  height: 300px;
  width: 100%;
}
.slide-track {
  animation: scroll 40s linear infinite;
  

}
.slide{
  margin-bottom: -1500px;
  
}

