.eventCards {
  width: 100%;
  max-width: 1350px;
  margin: auto;
  padding: 20px;
}
.gridCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
}
.bannerSize {
  width: 100%;
  max-width: 1350px;
  margin: auto;
}
.gradientBorder {
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, transparent, rgb(227, 232, 237), transparent) 1;
}

@media (max-width:1171px){
  .gridCards{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width:956px){
  .gridCards{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width:549px){
  .gridCards{
    grid-template-columns: 1fr;
  }
}
@media (max-width:443px){
  .eventCards{
  }
  }

.py-2.w-full.mx-auto.bg-white.dark\:bg-dark-2.rounded-lg.shadow-md.border.border-gray-700.dark\:border-gray-300.group {
  height: calc(100% - 16px - 1.481482px); /* 16px for padding, 1.481482px for borders */
}